/* Pretendard GOV Variable - latin_korean */
@font-face {
	font-family: 'Pretendard GOV Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../../fonts/PretendardGOV-1.3.9/PretendardGOVVariable.woff2') format('woff2-variations');
}
